<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="level">
      <%= link_to "Instructions Here", root_path, class: "level-item"%>
      <%= link_to "foo", "#", class: "level-item"%>
      <%= link_to "bar", "#", class: "level-item"%>
      <%= link_to "biz", "#", class: "level-item"%>
      <%= link_to "bang", "#", class: "level-item"%>
    </nav>
    <%= yield %>
  </body>
</html>
